@*@model IEnumerable<Point_Of_Sale.Brand>*@
@model Point_Of_Sale.Brand

@{
    ViewBag.Title = "Index";
    var brandList = ViewBag.brandList as IEnumerable<Point_Of_Sale.Brand>;
}

<h2 style="text-align:center; color:chocolate; margin-bottom:30px;"><u>Brand Dashboard</u></h2>

@*Create Button code*@
<!-- edit Button trigger modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#createButton" style="margin-bottom:30px;">
    Create Brand
</button>

<!-- create Modal -->
<div class="modal fade" id="createButton" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-size:20px;">Create Brand</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("Create", "Brand")" method="post">
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.BrandName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.BrandName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BrandName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Origin, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Origin, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Origin, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-primary" />
                                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Brand Name</th>
            <th>Origin</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in brandList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Origin)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |*@
                    @*Edit button*@
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#EditModel-@item.ID">
                        <i class="far fa-edit"></i>
                    </button>

                    <!-- edit Modal -->
                    <div class="modal fade" id="EditModel-@item.ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="font-size:20px;">Brand Edit</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="@Url.Action("Edit", "Brand")" method="post">
                                        @{ var BrandId = item.ID; var BrandName = item.BrandName; var Origin = item.Origin; }
                                        @Html.AntiForgeryToken()
                                        <div class="form-horizontal">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(model => model.ID)

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.BrandName, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => BrandName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.BrandName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Origin, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => Origin, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Origin, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <input type="submit" value="Save" class="btn btn-primary" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*@Html.ActionLink("Details", "Details", new { id=item.ID }) |*@
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                    @*Delete button*@
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteModel-@item.ID ">
                        <i class="far fa-trash-alt"></i>
                    </button>

                    <!--delete Modal -->
                    <div class="modal fade" id="DeleteModel-@item.ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="font-size:20px;">Delete Brand</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="@Url.Action("Delete", "Brand", new { id = item.ID})" method="post">
                                        @Html.AntiForgeryToken()
                                        <div class="form-horizontal">
                                            <h4 style="text-align:center; color: red">Are you sure</h4>
                                            <div class="form-group">
                                                <div class="col-md-offset-4 col-md-10">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <input type="submit" value="Yes" class="btn btn-primary" />
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
