@model Point_Of_Sale.ProductImage

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this Product Image?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductImage1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductImage1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
