@model IEnumerable<Point_Of_Sale.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Product Info
        </th>
        <th>
           Other Info
        </th>
        <th>
           Product Details
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            Name : @Html.DisplayFor(modelItem => item.ProductName)<br />
            Code : @Html.DisplayFor(modelItem => item.ProductCode)<br />
            Quentity : @Html.DisplayFor(modelItem => item.ProductQuentity)<br />
        </td>
        <td>
           Discription : @Html.DisplayFor(modelItem => item.ProductDescription)<br />
           Position : @Html.DisplayFor(modelItem => item.ProductPosition)<br />
        </td>
        <td>
            Brand : @Html.DisplayFor(modelItem => item.Brand.BrandName)<br />
            Category : @Html.DisplayFor(modelItem => item.Category.CategoryName)<br />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
