@model IEnumerable<Point_Of_Sale.Category>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center; color:chocolate; margin-bottom:30px;"><u>Category Dashboard</u></h2>

<p style="margin-bottom:30px;">@Html.ActionLink("Create New", "Create")</p>

<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Description</th>
            <th>Parent Category</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category2.CategoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @*@Html.ActionLink("Details", "Details", new { id=item.ID }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
