@model Point_Of_Sale.Unit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Unit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UnitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrimaryQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrimaryQty)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
