@model IEnumerable<Point_Of_Sale.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string gender = "";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Basic Info
        </th>
        <th>
            Other Info
        </th>
        <th>
            Address
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeePicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeAdmin.EmployeeID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            Name: @Html.DisplayFor(modelItem => item.EmployeeName) <br />
            Contact: @Html.DisplayFor(modelItem => item.EmployeeContact) <br />
            Email: @Html.DisplayFor(modelItem => item.EmployeeEmail) <br />
        </td>
        <td>
            @if(item.EmployeeGender == true)
            {
                gender = "Male";
            }
            else
            {
                gender = "Female";
            }
            Gender: @gender <br />
            Join Date: @item.EmployeeJoinDate.ToString("dd/MM/yyyy") <br />
            DOB: @item.EmployeeDateOfBirth.ToString("dd/MM/yyyy") <br />
        </td>
        <td>
            <address>
                @Html.DisplayFor(modelItem => item.City.CityName) <br />
                @Html.DisplayFor(modelItem => item.EmployeeAddress)
            </address>
        </td>
        <td>
            <img src="../Images/Uploads/@item.EmployeePicture.ToString()" width="100" height="100" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
