@model IEnumerable<Point_Of_Sale.EpmloyeeSalary>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center; color:chocolate; margin-bottom:30px;"><u>Employee Salary Dashboard</u></h2>

<p style="margin-bottom:30px;">@Html.ActionLink("Create New", "Create")</p>


<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Salary</th>
            <th>Month of Salary</th>
            <th>Recive Date</th>
            <th>Action</th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalaryMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalaryReciveDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.ID }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
